{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}


	<nav class="breadcrumb">
	  <a class="breadcrumb-item" href="{{url_for('showCatalog') }}">Catalog</a>
	  <span class="breadcrumb-item active">{{category.name}}</span>
	</nav>



	<div class="d-flex justify-content-end top-margin">
		<div class="mr-auto">
			<h1>{{category.name}}</h1>
			SKU Code: {{category.sku_code}}<br>
			Total Items: {{products|length}}
		</div>
		<div>
			{%if user_can_edit == 1 %}
			<a class="btn btn-primary" href='{{url_for('editCategory',category_name=category.name) }}'>Edit category</a>
			{% endif %}
		</div>
		<div class="sm-left-padding">
			{%if user_can_edit == 1 %}
			<a class="btn btn-primary" href='{{url_for('newCategory') }}'>Delete category</a>
			{% endif %}
		</div>
	</div>


 	<div class="row top-margin">
		<div class="col-md-12">

		{% for product in products %}

			<!-- Display product information -->
			<div class="product-thumb">
				<a href="{{url_for('showProduct', category_name = product.category.name, product_name = product.name)}}">
					{% if product.photos %}
					<img src="{{url_for('viewUploadFile', filename = product.photos[0].filename)}}"><br>
					{% else %}
					<img src="http://via.placeholder.com/200x200"><br>
					{% endif %}
					{{product.name}}<br>
					{{product.sku}}
				</a>
			</div>
		{% else %}
		<p>There are no products for this category.
			{%if 'username' in session %}
		<a href="{{url_for('newProduct')}}">Create a new product.</a>
			{% endif %}
		</p>
		{% endfor %}
	</div>

{% endblock %}
