{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}

	<nav class="breadcrumb">
	  <a class="breadcrumb-item" href="{{url_for('showCatalog') }}">Catalog</a>
	  <a class="breadcrumb-item" href="{{url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
	  <span class="breadcrumb-item active">Edit</span>
	</nav>

	<div class="row top-margin">
		<div class="col-md-8">
			<h1>Edit Category</h1>
		</div>
	</div>

	<br/>

	<form action="#" method = "post" enctype="multipart/form-data">

		{% include 'category/form.html' %}

		<div class="top-margin bottom-margin">
			<button type="submit" class="btn btn-primary" id="submit" type="submit">
		Save</button>&nbsp;&nbsp;<a href="{{url_for('showCategory', category_name=category.name)}}">Cancel</a>
		</div>
	</form>

{% endblock %}