		<div class="form-group">
			<label for="name">Name:</label>
			<input type ="text" class="form-control" maxlength="100" name="name" value="{{category.name}}">
		</div>
		<div class="form-group">
			<label for="name">SKU Code:</label>
			<input type ="text" class="form-control" maxlength="10" name="sku_code" value="{{category.sku_code}}">
			<small id="skuHelp" class="form-text text-muted">This SKU code will be prepended to the SKUs of all products in this cateogry. For example, the category 'Shirt' has SKU code 'SH'</small>
		</div>