{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}


	<div class="d-flex justify-content-start">
		<div class="p-2">
			<h1>Catalog</h1>
		</div>
		<div class="ml-auto p-2">
			{%if 'username' in session %}
			<a class="btn btn-primary" href='{{url_for('newCategory') }}'>New category</a>
			{% endif %}
		</div>
	</div>



	<br/>

	<div class="row">
		<div class="col-md-2">
			<span class="small-heading">Categories</span>
			<ul class="nav flex-column">
			  <li class="nav-item">
			    <a class="nav-link active" href="{{url_for('showCatalog')}}">Latest Items</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="{{url_for('showCategory', category_name = 'All')}}">All</a>
			  </li>
			  <hr>
			{% for category in categories %}
			  <li class="nav-item">
			    <a class="nav-link" href="{{url_for('showCategory', category_name = category.name)}}">{{category.name}}</a>
			  </li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-10 left-border">
			<span class="small-heading no-padding">Products</span><br>
			{% set current_category = {'id': 0} %}
			{% for product in products %}
				{% if current_category['id'] != product.category_id %}
			<h2 class="category-heading">{{product.category.name}}</h2>
				{% if current_category.update({'id': product.category_id}) %}
				{% endif %}
				{% endif %}
				<div class="product-thumb">
					<a href="{{url_for('showProduct', category_name = product.category.name, product_name = product.name)}}">
						<img src="http://via.placeholder.com/200x200"><br>
						{{product.name}}<br>
						{{product.sku}}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}




