{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}


	<div class="d-flex justify-content-start">
		<div class="p-2">
			<h1>Catalog</h1>
		</div>
		<div class="ml-auto p-2">
			{%if 'username' in session %}
			<a class="btn btn-primary" href='{{url_for('newCategory') }}'>New category</a>
			{% endif %}
		</div>
	</div>



	<br/>

	<div class="row">
		<div class="col-md-2">
			<span class="small-heading">Categories</span>
			<ul class="nav nav-pills flex-column">
			  <li class="nav-item">
			    <a class="nav-link {% if current_category=='Latest Items' %} active {% endif %}" href="{{url_for('showCatalog')}}">Latest Items</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link {% if current_category=='All' %} active {% endif %}" href="{{url_for('showCategory', category_name = 'All')}}">All</a>
			  </li>
			  <hr>
			{% for category in categories %}
			  <li class="nav-item">
			    <a class="nav-link {% if current_category==category.name %} active {% endif %}" href="{{url_for('showCategory', category_name = category.name)}}">{{category.name}}</a>
			  </li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-10 left-border">
			<span class="small-heading no-padding">Products</span><br>
			<!-- Only show large header on 'Latest Items' and 'All' pages -->
			{% if current_category=='Latest Items' or current_category=='All' %}
			<h2 class="category-heading">{{current_category}}</h2>
			{% endif %}
			{% set category_header = {'id': 0} %}
			{% for product in products %}
				<!-- Display small category header -->
				{% if category_header['id'] != product.category_id %}
			<h3 class="category-heading">{{product.category.name}}</h3>
				{% if category_header.update({'id': product.category_id}) %}
				{% endif %}
				{% endif %}
				<!-- Display product information -->
				<div class="product-thumb">
					<a href="{{url_for('showProduct', category_name = product.category.name, product_name = product.name)}}">
						<img src="http://via.placeholder.com/200x200"><br>
						{{product.name}}<br>
						{{product.sku}}
					</a>
				</div>
			{% else %}
			<p class="top-margin">There are no products for this category.
				{%if 'username' in session %}
			<a href="">Create a new product.</a>
				{% endif %}
			</p>
			{% endfor %}
		</div>
	</div>

{% endblock %}




