{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h1>New Category</h1>
		</div>
	</div>

	<br/>

	<form action="#" method = "post">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
		<div class="form-group">
			<label for="name">Name:</label>
			<input type ="text" class="form-control" maxlength="100" name="name">
		</div>
		<div class="form-group">
			<label for="name">SKU Code:</label>
			<input type ="text" class="form-control" maxlength="10" name="sku_code">
			<small id="skuHelp" class="form-text text-muted">This SKU code will be prepended to the SKUs of all products in this cateogry. For example, the category 'Shirt' has SKU code 'SH'</small>
		</div>
		<div class="padding-bottom"></div>
			<button type="submit" class="btn btn-primary" id="submit" type="submit">
			Create</button>&nbsp;&nbsp;<a href='{{url_for('showCatalog')}}'>Cancel</a>
		</div>
	</form>

</div>
{% endblock %}