* {
	font-family: Raleway, Roboto, Helvetica, Arial, sans-serif;
}

a:hover, a:focus {
	text-decoration: none;
}

/* login */
.container-position {
	position: relative;
	height: 30rem;
}
.border-box {
	position: absolute;
	border:1px solid #ccc;
	margin-top:50px;
	width:400px;
	padding:30px;
	background-color: #fff;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.bg-shaded {
	background-color: #eee;
}

/* navigation */
.navbar-brand {
  font-family: Lobster, sans-serif;
  font-size: 24px;
}

/* dropdown toggle arrow */
.navbar .nav > li > .dropdown-menu::before {
   position: absolute;
   top: -7px;
   left: 9px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }
 .navbar .nav > li > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
  .dropdown-menu a {
  	display:block;
  	padding: 5px;
  	text-decoration:none;
  }

.top-right-nav{
	padding-top:15px;
	padding-right:45px;
}

.container {
	padding-top: 50px;
}

.small-heading {
	padding-left:1em;
	font-weight:700;
}

.no-padding {
	padding: 0;
}

/* main content area */
.left-border {
	border-left: 1px solid #ccc;
	padding-left:30px !important;
}

.category-heading {
	padding-top:20px;
	clear: both;
}

.product-thumb {
	float:left;
	padding-right:20px;
	padding-bottom:30px;
}

.product-thumb img {
	width:250px;
	height:250px;
	border:5px white solid;
	outline:1px solid #ccc;
	margin-bottom:10px;
}


.photo-display {
	height: 200px;
	padding: 0 0 20px 10px;
}

.required:after {
   content:" *";
   color:red;
}

/* alert-error same as alert-danger */
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}

/* invoices */
.form-group ul {
	list-style-type: none;
}

li label {
	font-weight: normal;
}