{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}


	<nav class="breadcrumb">
	  <a class="breadcrumb-item" href="{{url_for('showCatalog') }}">Catalog</a>
	  <a class="breadcrumb-item" href="{{url_for('showCategory', category_name = category.name) }}">{{category.name}}</a>
	  <span class="breadcrumb-item active">{{product.name}}</span>
	</nav>

 	<div class="row top-margin">
		<div class="col-md-7">
			<h1>{{product.name}}</h1>
			<b>SKU:</b> {{product.sku}}<br>
			<b>Price:</b> ${{product.price}}<br>
			<b>Description:</b><br>
			<p>{{product.description}}</p>
			{% if user_can_edit == 1 %}
				Edit | Delete
			{% endif %}
		</div>
		<div class="col-md-5 photo-box">
			<img src="http://via.placeholder.com/350x350">
		</div>
	</div>

{% endblock %}
