{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}

	<nav class="breadcrumb">
	  <a class="breadcrumb-item" href="{{url_for('showCatalog') }}">Catalog</a>
	  <a class="breadcrumb-item" href="{{url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
	  <a class="breadcrumb-item" href="{{url_for('showProduct', category_name=category.name, product_name=product.name) }}">{{product.name}}</a>
	  <span class="breadcrumb-item active">Edit</span>
	</nav>

	<div class="row top-margin">
		<div class="col-md-8">
			<h1>Edit Product</h1>
		</div>
	</div>

	<br/>

	<form action="#" method = "post" enctype="multipart/form-data">

		{% include 'product/form.html' %}

		<div class="row">
			<div class="col-md-5 photo-box">
				{% if product.photos %}
				<img src="{{url_for('viewUploadFile', filename = product.photos[0].filename)}}">
				{% else %}
				<img src="http://via.placeholder.com/350x350">
				{% endif %}
			</div>
		</div>

		<div class="top-margin bottom-margin">
			<button type="submit" class="btn btn-primary" id="submit" type="submit">
		Save</button>&nbsp;&nbsp;<a href="{{url_for('showProduct', category_name=category.name, product_name=product.name)}}">Cancel</a>
		</div>
	</form>


{% endblock %}