{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h1>New Product</h1>
		</div>
	</div>

	<br/>

	<form action="#" method = "post">
		<div class="form-group">
			<label for="name">Name</label>
			<input type ="text" class="form-control" maxlength="100" name="name">
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<label for="sku">SKU</label>
				<input type ="text" class="form-control" maxlength="10" name="sku">
			</div>
			<div class="form-group col-md-4">
				<label for="price">Price</label>
				$ <input type ="text" class="form-control" maxlength="10" name="price">
				<small id="priceHelp" class="form-text text-muted">Enter a decimal number without a dollar sign.</small>
			</div>
			<div class="form-group col-md-4">
				<p class="status-label">Status</p>
				<label for="status" class="checkbox-padding">
					<input type="checkbox" class="form-check-input" name="status" checked>
					Active
    			</label>
			</div>
		</div>
		<div class="form-group">
			<label for="category_id">Category</label>
		    <select class="form-control" id="category_id">
		    {% for category in categories %}
		      <option value="{{category.id}}">{{category.name}}</option>
		    {% endfor %}
		    </select>
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea class="form-control" name="description" rows="5"></textarea>
		</div>
		<div class="form-group">
			<label for="photoUpload">Photo upload</label>
			<input type="file" class="form-control-file" id="photoUpload" aria-describedby="fileHelp">
			<small id="fileHelp" class="form-text text-muted">Upload images at least 300px x 300px for best results. File formats accepted: .jpg, .png, .gif</small>
		</div>
		<div class="padding-bottom"></div>
		<button type="submit" class="btn btn-primary" id="submit" type="submit">
		Create</button>&nbsp;&nbsp;<a href='{{url_for('showCatalog')}}'>Cancel</a>
		</div>
	</form>

</div>
{% endblock %}