{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}


	<nav class="breadcrumb">
	  <a class="breadcrumb-item" href="{{url_for('showCatalog') }}">Catalog</a>
	  {% if preselected_category.name %}
	  <a class="breadcrumb-item" href="{{url_for('showCategory', category_name=preselected_category.name) }}">{{preselected_category.name}}</a>
	  {% endif %}
	  <span class="breadcrumb-item active">New product</span>
	</nav>

	<div class="row top-margin">
		<div class="col-md-8">
			<h1>New Product</h1>
		</div>
	</div>

	<br/>

	<form action="#" method = "post" enctype="multipart/form-data">

		{% set page_type = 'new' %}
		{% include 'product/form.html' %}

		<div class="top-margin bottom-margin">
			<button type="submit" class="btn btn-primary" id="submit" type="submit">
		Create</button>&nbsp;&nbsp;<a href="{{url_for('showCatalog')}}">Cancel</a>
		</div>
	</form>

{% endblock %}