{% set active_page = 'catalog' %}
{% extends 'base.html' %}

{% block content %}

<div class="container">

	<div class="row">
		<div class="col-md-8">
			<h1>New Product</h1>
		</div>
	</div>

	<br/>

	<form action="#" method = "post">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type ="text" class="form-control" maxlength="100" name="name">
		</div>
		<div class="form-group">
		<label for="name">SKU Code:</label>
		<input type ="text" class="form-control" maxlength="10" name="sku_code">
		</div>
		<div class="padding-bottom"></div>
		<button type="submit" class="btn btn-primary" id="submit" type="submit">
		Create</button>&nbsp;&nbsp;<a href='{{url_for('showCatalog')}}'>Cancel</a>
		</div>
	</form>

</div>
{% endblock %}