{% set navigation_bar = [
    ('/', 'catalog', 'Catalog'),
    ('/inventory', 'inventory', 'Inventory'),
] -%}

{% set active_page = active_page|default('catalog') -%}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Scripts and Styles -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Lobster|Raleway" rel="stylesheet">
</head>
<body>


<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">My Store</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
		{% for href, id, caption in navigation_bar %}
	    	<li class="nav-item {% if id == active_page %} active {% endif %}">
	    		<a class="nav-link" href="{{ href|e }}">{{ caption|e }}</a>
	    	</li>
		{% endfor %}
    </ul>
    <div class="form-inline my-2 my-lg-0">
		{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}" class="btn btn-sm align-middle btn-outline-info" role="button">Click Here to Login </a>
		{% else %}
			<a href="{{url_for('disconnect')}}" class="btn btn-sm align-middle btn-outline-secondary" role="button">Logout {{ session.username }}</a>
		{% endif %}
    </div>
  </div>
</nav>


<div class="container">
	<div class="d-flex justify-content-start">
		{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }} alert-dismissible">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>



{% block content %}{% endblock %}


</body>

</html>